<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <h4>Access Token</h4>
        </thead>
        <tbody>
            <tr>
		<td> Client ID: </td> <td> <input type="text" id="cid"></td>
            </tr>
	    <tr>
                <td> Client Secret: </td> <td> <input type="password" id="csecret"></td>
            </tr>
            <tr>
		<td> <input type="submit" id="btnAccessToken" value="Request Access Token"></td><td> <label id="lblAccessToken"/></td>
            </tr>
        </tbody>
    </table>
</div>
